@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');





*{
    margin: 0px;
    box-sizing: border-box;
}

ul{
    padding: 0px!important;
}

/* commen-sec */

@media (min-width:1440px) {
    .container{
    max-width:1170px;
    width: 1140px;
    margin: auto;  
    padding: 0px 15px;
    }
}


.cmn-head{
    font-family: "Inknut Antiqua", serif;
    font-size:38px;
    font-weight:400;
    color:rgba(0, 123, 255, 1);
}

.cmn-span{
    color: rgba(255, 193, 7, 1);
}

.cmn-head::after{
    content: '';
    display: inline-block;
    width: 170px;
    height: 2px;
    border-radius: 5px;
    background-color: rgba(255, 193, 7, 1);
}

/* header-sec */

@media (max-width:991px) and (min-width:600px){
    .navbar-main-div{
        flex-wrap: wrap;
    }
    .navbar-child-div{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }  
}

@media (max-width:600px) and (min-width:344px){
    .navbar-main-div{
        flex-wrap: wrap;
    }
    .navbar-child-div{
        margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }  
    .navbar-child-div ul {
        flex-direction: column;
    
    }
}

.header-sec{
    padding:20px 0px 15px 0px;
}

.navbar-main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-child-div ul{
    display: flex;
}

.navbar-child-div ul li{
    list-style: none;
    padding: 0px 15px;
}

.navbar-child-div a{
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
    font-size:20px;
    font-weight:600;
    color:rgba(52, 58, 64, 1);
}

.nav-btn{
    color: rgba(0, 123, 255, 1) !important;
    padding: 21px 69px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 200px;
}

/*  banner-sec */

.banner-sec{
    background-image: url('../image/Blog-banner.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 242px 0px;
} 

.banner-main-div h1{
    font-family: "Inknut Antiqua", serif;
    font-size:48px;
    font-weight:600;
    color:rgba(244, 178, 5, 1);
    text-align: center;
}

.banner-main-div span::before{
    content: '';
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    position: absolute;
    margin:18px 0px 0px -100px;
    background-image: url('../image/Destination-banner-icon.svg');
}

.banner-main-div span{
padding-left: 100px;
color: rgba(0, 123, 255, 1);
}

/*  What We Give */

@media (max-width:991px) and (min-width:576px){
    .Give-main-div{
        flex-wrap: wrap;
    }
    .Give-child-div{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
       
    }  
}

@media (max-width:575px) and (min-width:344px){
    .Give-main-div{
        flex-wrap: wrap;
    }
    .Give-child-div{
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
}

.Give-sec{
    padding-top: 80px;
}

.Give-main-div{
    display: flex;
}

.Give-child-div{
    min-width:50%;
    padding: 0px 15px;
}

.Give-child-div img{
    width: 100% ;
    height: 768px;
}

.Give-child-div p{
    max-width: 466px;
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color:rgba(52, 58, 64, 1);
    padding-bottom: 5px;
}

.icon{
    width: 50px !important;
    height: 50px !important;
    display: block;
    box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin:0px 10px 81px 0px;
   padding-block: 11px;
}

.Give-inner-child{
    display: flex;
}

.Give-inner h3{
    font-family: "Inknut Antiqua", serif;
    font-size:24px;
    font-weight:700;
    color:rgba(40, 167, 69, 1);
}

.Give-child-div h2{
    padding-top: 85px;
    max-width: 285px;
    line-height: 55px;
}

/* Travel Tips */

@media (max-width:991px) and (min-width:576px) {
    .Travel-Tips-main-div{
        flex-wrap: wrap;
    }
    .Travel-Tips-child-div{
        text-align: center;
        width: 100%;
    }
}

@media (max-width:575px) and (min-width:344px) {
    .Travel-Tips-main-div{
        flex-wrap: wrap;
 
    }
    .Travel-Tips-child-div{
      
        text-align: center;
        width: 100%;
    }
}
  


.Travel-Tips-sec{
    background-image: url('../image/Travel-Tips-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0px 34px 0px;
}

.Travel-Tips-main-div{
    display: flex;
}

.Travel-Tips-child-div{
    min-width: 50%;
    padding: 0px 10px;
}

.Travel-Tips-child-div p{
    max-width: 524px;
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color: rgba(52, 58, 64, 1);
    margin-bottom: 15px;
}

.plus{
    padding: 4px 20px;
    background-color:rgba(236, 236, 236, 1);
    display: flex;
    justify-content: space-between;
    font-family: "Inknut Antiqua", serif;
    font-size:20px;
    font-weight:500;
    color:rgba(52, 58, 64, 1);
    border-radius: 2px;
    margin-top: 9px;
}

.Travel-Tips-inner-child{
    display: flex;
    padding-left: 20px;
}

.Travel-Tips-inner{
    width: 50%;
}

.Travel-Tips-inner img{
    width: 100%;
    min-height: 380px !important;
    object-fit:cover;
}

.Travel-Tips-inner-child img{
    width: 100%;
    padding-top: 20px;
    min-height: 300px;
    object-fit:cover;
    border-radius: 5px;
}

/* Visual Gallery */

@media (max-width:991px) and (min-width:768px){
    .Gallery-top-div{
        text-align: center;
    }
    .Gallery-child-div{
        flex-wrap: wrap;
        text-align: center;
    }
    .Gallery-inner-child{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:768px) and (min-width:344px){
    .Gallery-top-div{
        text-align: center;
    }
    .Gallery-child-div{
        flex-wrap: wrap;
        text-align: center;
    }
    .Gallery-inner-child{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Gallery-inner-child img{
        width: 100%;
    }
}



.Gallery-child-div{
    display: flex;
}

.Gallery-inner-child img{
    padding: 8px 10px;
    
}

.img-1{
    width: 463px;
    height: 443px;
    object-fit: cover;
}

.img-2{
    width: 657px;
    height: 443px;
    object-fit: cover;
}

.Gallery-inner-child h3{
    position: absolute;
    font-family: "Inknut Antiqua", serif;
    font-size:24px;
    font-weight:500;
    color:rgba(255, 255, 255, 1);
    margin: 315px 0px 0px 50px;
}

.Gallery-inner-child span{
    position: absolute;
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color:rgba(255, 255, 255, 1);
    margin: 371px 0px 0px 50px;
}

/* Hear from Our Travelers */
@media (max-width:991px) and (min-width:0px){
    .Travelers-main-div{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
       
    }
    .Travelers-child-div{
        width: 50%;
    }
}

@media (max-width:767px) and (min-width:344px){
    .Travelers-top-div{
        text-align: center;
    }
    .Travelers-main-div{
        flex-wrap: wrap;  
    }
    .Travelers-child-div{
        width: 100%;
        text-align: center;
    }

    .Travelers-child-div span{
        right: 40px;
    }
}

.Travelers-sec{
    padding: 80px 0px;
}

.Travelers-top-div{
    padding:0px 10px;
}

.Travelers-main-div{
    display: flex;
}

.Travelers-child-div{
    min-width: 33.33%;
    padding: 10px;
}

.Travelers-child-div img{
width: 100%;
}

.Travelers-inner-child{
    padding:100px 13px 50px 13px;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    margin-top: -99px;
}

.Travelers-inner-child h3{
    font-family: "Inknut Antiqua", serif;
    font-size:24px;
    font-weight:500;
    color:rgba(40, 167, 69, 1);
}

.Travelers-inner-child p{
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color:rgba(52, 58, 64, 1);
}

.Travelers-child-div span{
    position: absolute;
    background-color: white;
    padding: 6px 12px;
    border-radius: 2px;
    margin: 13px 0px 0px 190px;
    color: rgba(255, 193, 7, 1);
}

/* footer-sec */

@media (max-width:767px) and (min-width:344px){
    .footer-top-div{
        text-align: center;
    }
    .footer-main-div{
        flex-wrap: wrap;  
        text-align: center;
    }
    .footer-child-div{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px !important;
    }
    .footer-child-div i{
        
    }
}

.footer-sec{
    background-image: url('../image/footer\ bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 0px 334px 0px;
}

.footer-main-div{
    display: flex;
}

.footer-child-div{
    padding: 0px 10px;
    margin-right: 100;
}

.footer-child-div p{
    max-width: 463px;
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color:rgba(255, 255, 255, 1);
}

.footer-child-div a{
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
    font-size:22px;
    font-weight:400;
    color:rgba(255, 255, 255, 1);
}

.footer-child-div span{
    display: block;
    font-family: "Inknut Antiqua", serif;
    font-size:24px;
    font-weight:500;
    color:rgba(255, 255, 255, 1);
    padding: 0px 0px 40px 27px;
}

.footer-child-div ul li{
    list-style: none;
    text-align: center;
}

.footer-child-div i{
    color: rgba(0, 123, 255, 1);
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    margin: 20px 20px 0px 0px;
}

.footer-bottom-div{
    text-align: center;
    padding: 26px 0px;
    font-family: "Inknut Antiqua", serif;
    font-size:24px;
    font-weight:500;
    background-color: rgba(255, 193, 7, 1);
    color: rgba(0, 123, 255, 1);
}